İotCarNodeRed.json
[
    {
        "id": "aa0413508bb91058",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a2b741d5d454c30e",
        "type": "inject",
        "z": "aa0413508bb91058",
        "name": "test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "selam",
        "payloadType": "str",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "38419c1eb7f50d87"
            ]
        ]
    },
    {
        "id": "38419c1eb7f50d87",
        "type": "debug",
        "z": "aa0413508bb91058",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "c73e61dc50b156d0",
        "type": "mqtt in",
        "z": "aa0413508bb91058",
        "name": "",
        "topic": "arachiz",
        "qos": "2",
        "datatype": "auto",
        "broker": "e33de2f7eafdb7be",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "1e67650f1ae84d3d",
                "d2e99f55bfb90c26",
                "3dc250fa3c83ca10"
            ]
        ]
    },
    {
        "id": "1e67650f1ae84d3d",
        "type": "debug",
        "z": "aa0413508bb91058",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "f87bc8abc13e94f8",
        "type": "inject",
        "z": "aa0413508bb91058",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "581a1a94fd64030e"
            ]
        ]
    },
    {
        "id": "581a1a94fd64030e",
        "type": "mqtt out",
        "z": "aa0413508bb91058",
        "name": "",
        "topic": "espled",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e33de2f7eafdb7be",
        "x": 710,
        "y": 440,
        "wires": []
    },
    {
        "id": "d2e99f55bfb90c26",
        "type": "ui_gauge",
        "z": "aa0413508bb91058",
        "name": "",
        "group": "c144e94d6a56af2e",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 730,
        "y": 260,
        "wires": [],
        "info": "msg.payload.parseInt();"
    },
    {
        "id": "5da7b3b35873ab1a",
        "type": "mqtt out",
        "z": "aa0413508bb91058",
        "name": "",
        "topic": "akilliarac",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e33de2f7eafdb7be",
        "x": 800,
        "y": 680,
        "wires": []
    },
    {
        "id": "3f9c95e84bdf29c8",
        "type": "inject",
        "z": "aa0413508bb91058",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "B",
        "payloadType": "str",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "5da7b3b35873ab1a"
            ]
        ]
    },
    {
        "id": "1249f15fc7d81990",
        "type": "inject",
        "z": "aa0413508bb91058",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "S",
        "payloadType": "str",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "5da7b3b35873ab1a"
            ]
        ]
    },
    {
        "id": "81af9f09daf46df4",
        "type": "mqtt in",
        "z": "aa0413508bb91058",
        "name": "",
        "topic": "akilliarac",
        "qos": "2",
        "datatype": "auto",
        "broker": "e33de2f7eafdb7be",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 860,
        "wires": [
            [
                "864cdd0bc05bdfdf",
                "72a2978e5b52dba8",
                "ea6ec08f40e5ba7d"
            ]
        ],
        "info": "return msg.payload;"
    },
    {
        "id": "29cadb5eea220e59",
        "type": "inject",
        "z": "aa0413508bb91058",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "R",
        "payloadType": "str",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "5da7b3b35873ab1a"
            ]
        ]
    },
    {
        "id": "94da31c73bb56fb6",
        "type": "inject",
        "z": "aa0413508bb91058",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "L",
        "payloadType": "str",
        "x": 190,
        "y": 740,
        "wires": [
            [
                "5da7b3b35873ab1a"
            ]
        ]
    },
    {
        "id": "9974c14a0674d1d8",
        "type": "inject",
        "z": "aa0413508bb91058",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "F",
        "payloadType": "str",
        "x": 190,
        "y": 800,
        "wires": [
            [
                "5da7b3b35873ab1a"
            ]
        ]
    },
    {
        "id": "864cdd0bc05bdfdf",
        "type": "debug",
        "z": "aa0413508bb91058",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 860,
        "wires": []
    },
    {
        "id": "ea6ec08f40e5ba7d",
        "type": "function",
        "z": "aa0413508bb91058",
        "name": "fonksiyon",
        "func": "var sayi=msg.payload;\nmsg.payload = [{\n    measurement: \"Arac\",\n        fields: {\n            \n            yon:sayi\n        }\n    \n}];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1100,
        "wires": [
            [
                "3a721e1d98e5e107"
            ]
        ]
    },
    {
        "id": "3a721e1d98e5e107",
        "type": "influxdb batch",
        "z": "aa0413508bb91058",
        "influxdb": "0d8c3be7365c82cc",
        "precision": "",
        "retentionPolicy": "",
        "name": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 760,
        "y": 1100,
        "wires": []
    },
    {
        "id": "72a2978e5b52dba8",
        "type": "ui_gauge",
        "z": "aa0413508bb91058",
        "name": "",
        "group": "f976c46ed41a9b28",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "4",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 730,
        "y": 960,
        "wires": []
    },
    {
        "id": "fa18d9c14c9ca52b",
        "type": "inject",
        "z": "aa0413508bb91058",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "str",
        "x": 90,
        "y": 960,
        "wires": [
            [
                "9ef120c095320de4"
            ]
        ]
    },
    {
        "id": "9ef120c095320de4",
        "type": "mqtt out",
        "z": "aa0413508bb91058",
        "name": "",
        "topic": "akilliarac",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e33de2f7eafdb7be",
        "x": 280,
        "y": 960,
        "wires": []
    },
    {
        "id": "3dc250fa3c83ca10",
        "type": "function",
        "z": "aa0413508bb91058",
        "name": "fonksiyon",
        "func": "var sayi=msg.payload;\nmsg.payload = [{\n    measurement: \"Arac\",\n        fields: {\n            \n            hiz2: sayi\n        }\n    \n}];\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 340,
        "wires": [
            [
                "07c962f8be62abc0"
            ]
        ]
    },
    {
        "id": "07c962f8be62abc0",
        "type": "influxdb batch",
        "z": "aa0413508bb91058",
        "influxdb": "0d8c3be7365c82cc",
        "precision": "",
        "retentionPolicy": "",
        "name": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 720,
        "y": 340,
        "wires": []
    },
    {
        "id": "e33de2f7eafdb7be",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c144e94d6a56af2e",
        "type": "ui_group",
        "name": "hiz",
        "tab": "713e84e617623752",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0d8c3be7365c82cc",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "denek",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "f976c46ed41a9b28",
        "type": "ui_group",
        "name": "gauge nodred",
        "tab": "12a8502877bfbe6b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "713e84e617623752",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "12a8502877bfbe6b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]